.driver-card {
  background-color: transparent;
  height: 70vh;
  padding: 10px;
}

.driver-image {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}

.card-title-driver,
.card-text-driver {
  font-family: "Monument Grotesk Mono", monospace;
  color: white;
}
.card-text-driver:hover {
  color: orange;
}
.card-title-driver:hover {
  color: orange;
}

.card-title-driver {
  text-align: center;
}

.driver-card-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.driver-card-text-body {
  position: absolute;
  background-color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.driver-card-image {
  height: 100%;
  transition: transform 0.5s ease;
  background: rgb(43, 29, 29);
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.driver-card:hover .driver-card-image {
  transform: translateY(-32%);
}

.driver-card-text-body h2,
.driver-card-text-body p {
  margin: 10px;
}
