.image-size-emblem {
  width: 50px;
  object-fit: cover;
}
.image-size-car {
  width: 400px;
  object-fit: cover;
}
.selected-team {
  width: 800px;
}
.image-size-medium {
  width: 400px;
  object-fit: cover;
  border: solid 1px black;
  background-color: rgb(193, 203, 39);
}

.large-box {
  position: fixed;
  top: 0;
  left: -33vw;
  height: 110vh;
  width: 100vw;
  background-color: rgba(56, 51, 51, 0.804);
  z-index: 2000;
  transition: left 1s ease;
}

.large-box.open {
  left: 0;
}

.right-box {
  position: absolute;
  right: 0;
  height: 110vh;
  width: 66vw;
  z-index: inherit;
}
.left-box {
  position: relative;
  height: 110vh;
  width: 33vw;
  z-index: inherit;
  overflow: hidden;
}

.left-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(119, 47, 47);
  filter: blur(2px);
  z-index: -1;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.list-box {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 100%;
  height: 80%;
  padding: 70px;
  background: transparent;
  z-index: inherit;
  color: black;
  font-family: "Monument Grotesk Mono", monospace;
}

.list-1-in-box {
  font-size: 32px;
}

.list-2-in-box {
  width: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.list-1-in-box,
.list-2-in-box {
  list-style-type: none;
}

.list-text-1,
.list-text-2 {
  margin-bottom: 10px;
}

.list-text-2 {
  font-size: 20px;
}

.list-text-1:hover,
.list-text-2:hover {
  position: relative;
  background-position: right center;
  cursor: pointer;
  background-image: url("public/images/raceCar.png");
  background-repeat: no-repeat;
  background-size: 20%;
  filter: invert(100%);
}

.list-text-2:hover {
  background-size: 10%;
}

.image-button {
  background: none;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 10000;
}

.image-button div {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.close-button:hover {
  filter: invert(100%);
}
.open-button:hover {
  filter: invert(100%);
}
.close-button {
  border: none;
}
.cross {
  width: 50px;
  height: 50px;
  position: relative;
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000; /* You can change the color */
  top: 50%;
  transform: translateY(-50%);
}

.cross::before {
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after,
.hamburger span {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000; /* You can change the color */
  transition: transform 0.3s ease-in-out;
}

.hamburger::before {
  top: -6px;
}

.hamburger span {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger::after {
  bottom: -6px;
  top: 6px; /* Additional line at the middle */
}


.open-button {
  position: fixed;
  border: none;
  top: 0;
  left: 1%;
  z-index: 10000;
}

.no-scroll {
  overflow: hidden;
}

.selected-text-background {
  width: 100vw;
  padding: 10px;
  color: white;
}



.selected-text {
  font-family: "Monument Grotesk Mono", monospace;
  font-size: 20px;
}

.selected-text-small {
  font-family: "Monument Grotesk Mono", monospace;
  font-size: 13px;
  margin: 2px;
}

.selected-title {
  padding: 20px;
  text-align: center;
  font-family: "Monument Grotesk Mono", monospace;
}

.selected-team-text {
  color: white;
}

.selected-text-box {
  position: relative;
  left: 5vh;
  width: 30vw;
  height: 40vh;
}

.selected-driver {
  height: 100vh;
  width: 100vw;
}
.selected-driver {
  position: relative;
}

.selected-driver-image-container {
  position: absolute;
  top: 15vh;
  right: 5vw;
}

.selected-content {
  position: relative;
  z-index: 1;
}

.selected-driver-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 2px black;
  border-radius: 10px;
  filter: blur(50px);
  z-index: -1;
}

.selected-team-bg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  filter: brightness(90%);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.selected-team-card-size {
  width: 20rem;
}

.selected-emblem {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: solid 1px black;
  border-radius: 10px;
}

.selected-driver-team {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border: solid 1px black;
  border-radius: 10px;
}

.selected-race-box-left {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
}
.selected-race-box-right {
  float: left;
  position: relative;
  top: 0;
  right: 0;
  width: 45vw;
  height: 40vh;
  text-align: center;
}

.selected-race-text-box {
  color: white;
  padding: 10px;
  margin: 10px;
}

.selected-race-card-image-size {
  width: 50vw;
  height: 100%;
  overflow: hidden;
  border: solid 1px black;
  border-radius: 10px;
}

.selected-race-container {
  height: 50vh;
  width: 100vw;
  z-index: -1;
}

.selected-race-box-full {
  width: 100vw;
  height: 100%;
  background-color: rgb(119, 47, 47);
}

.selected-driver-section {
  position: relative;
  background-image: url("/public/images/Backgrounds/Formula1background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  filter: brightness(90%);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

section {
  overflow: hidden;
}

.success-message {
  color: green;
}
