/* Update your TeamCarousel.css file */

.team-card {
  background-color: #434444; /* Choose your desired background color */
  margin: 40px auto 20px auto;
  height: 60vh;

  border: 2px solid #000;
  position: relative;
}

.team-image {
}

.image-size-car {
  width: 100%;
  margin-top: 30%;
}

.card-title-team {
  color: #fff;
}

.card-text-team {
  color: #fff;
}

.team-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
