/* Update your TeamCarousel.css file */

.team-card {
  margin: 40px auto 20px auto;
  height: 60vh;
  border: 2px solid #000000;
}

.image-size-emblem {
  width: 20%;
}


.image-size-car {
  width: 100%;
}

.card-title-team {
  color: #000000;
  margin: 3%;
  padding: 5%;
  border-left: 3px solid black;
  border-bottom: 1px solid rgb(148, 148, 152);
}

#drivers {
  border-bottom: 1px solid rgb(148, 148, 152);
  color: #000000;
  margin: 3%;
  text-align: center;
}

#driver-1-image {
  width: 30%;
}

#driver-2-image {
width: 30%;
}


.team-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s ease;
  border: 3px solid #8b0000;
}
